---
layout: page
---

{% for talk in page.talks %}
  <div style="margin-bottom: 2rem;">
    <p>
      <p target="_blank" style="font-weight: bold; font-size: 1.1rem;">
        {{ talk.title }}
      </p>
    </p>
    <p style="color: #666;">{{ talk.date }}</p>
    <p>{{ talk.description }}</p>
    <p>
      {% for item in talk.links %}
        <a href="{{ item.url }}" target="_blank" style="color: #13c1a1; margin-right: 1rem;">
          {{ item.label }}
        </a>
      {% endfor %}
    </p>
  </div>
{% endfor %}
