---
layout: page
---

<div class="talks-container">
  {% for talk in page.talks %}
    <div class="talk-item">
      <h3 class="talk-title">{{ talk.title }}</h3>
      <p class="talk-date">{{ talk.date }}</p>
      <p class="talk-description">{{ talk.description }}</p>
      <div class="talk-links">
        {% for item in talk.links %}
          <a href="{{ item.url }}" target="_blank" class="talk-link">
            {{ item.label }}
          </a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
